@using SolidarnieWebApp.Models;
@using SolidarnieWebApp.HtmlHelpers;

@model ZamowienieEditModel
<h3> Zamówienie u¿ytkownika @Model.Uzytkownik.Nazwa</h3>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@using (Html.BeginForm("Zamow", "ZamowienieUzytkownika"))
{
    @Html.Hidden("form.DefinicjaID", Model.DefinicjaID)
    for (int i = 0; i < Model.GrupyProduktow.Count; i++)
    {

        <div class="GrupaProduktow">
            <h4> @Model.GrupyProduktow[i].Nazwa</h4>
            @Html.GenerujTable(Model.GrupyProduktow[i].Produkty)
        </div>
    }

    <button type="submit" class="btn-sm btn-default btn-primary">
        Zamów
    </button>
}