@using SolidarnieWebApp.HtmlHelpers
@using SolidarnieWebApp.Models.Uprawnienia;
@model DefiniowanieUprawnienUzytkownikaModel
<h3>Uprawnienia u¿ytkownika: @Model.NazwaUzytkownika</h3>

@using (Html.BeginForm("Form", "UprawnieniaUzytkownika"))
{
    @Html.HiddenFor(m => m.UzytkownikID)
    @Html.HiddenFor(m => m.NazwaUzytkownika)
    @Html.GenerujTable(Model.Uprawnienia)

    @Html.GenerujPrzyciskiFormularza(@Url.Action("Index", "Uzytkownicy"))
}
