@model MenuModel

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Zakupy solidarne", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Lista zamówieñ", "Index", "Zamowienia")</li>
                @if (Model.Administrator)
                {
                    <li>@Html.ActionLink("Zarz¹dzanie u¿ytkownikami", "Index", "Uzytkownicy")</li>
                    <li>@Html.ActionLink("Administracja", "Index", "Administracja")</li>
                }
            </ul>
            <div class="pull-right">
                <div class="btn-group">
                    @Html.Action("ButtonLogowania", "Logowanie")
                    @*<a class="btn-default btn-lg" href="@Url.Action("Login", "Home")">
                            Zaloguj
                        </a>*@
                </div>
            </div>
        </div>
    </div>
</div>
